@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');
.cardB{
    background-color: #5C72E6;
    border-radius: 0%;
    height: 20rem;
    margin-bottom: 6%;
}

.title{
    color: white;
    padding: 3%;
    font-size: 200%;

}

.texte{
    color: white;
    padding: 3%;
    font-size: 150%;

}