
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');

.cardhero{
    width: 100vw; 
    height: 90vh;
    position: relative;
}

.image img {
    width: 100vw;
}

.card-body-hero{
    position: absolute;
    text-align: center;
    color: white;
    transform: translateX(-50%);
    left: 50%;
    top: 10%;
    line-height: 260%;
}

.card-body-hero .cardtitle {
    font-size: 300%;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 1rem;
}