@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');

.footer{
    background-color: #233282;
    border-radius: 50px 50px 0 0;
    color: white;
}
.imageFooter img {
    width: 10vw;
}
.footer-title{
    color: white;
}
.label-text{
    color: white;
}