
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .btn {
    @apply rounded-full;
  }
}


 *::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Recursive'
}

body{
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  font-family: 'Recursive';
}
/* 
header { 
  background-image: url(../public/assets/1.png);
  position: relative;
  height: 90vh;
  width: 100vw;

}  */